<div class="box l-footer">
    <p class="span-rows box-about">
        <span class="box-about_first"><a href="http://www.baidu.com/">关于hao365网址导航</a></span>
        <b class="space"></b>
        <span><a href="http://www.baidu.com/">技术支持</a></span>
        <b class="space"></b>
        <span><a href="http://www.baidu.com/">意见建议</a></span>
        <b class="space"></b>
        <span><a href="http://www.baidu.com">在线打赏</a></span>
    </p>
        <span><a href="http://www.baidu.com/"> 备2019-10-18号 <i class="i-papers"></i></a></span>
    </p>
</div>
</body>
</html>
